vscode-single-select {
  width: 100%;
  z-index: 9999;
}

table {
overflow-y: scroll;
    display: block;
    height: 70vh;
}

table td:first-child {
  position: sticky;
  left: 0;
  background-color: var(--vscode-editor-background);
  z-index: 1;
}

table td:nth-child(2) {
  position: sticky;
  left: 0;
  background-color: var(--vscode-editor-background);
  z-index: 1;
  border-right: 2px solid var(--vscode-editorWidget-border);
}

table th:first-child {
  position: sticky;
  left: 0;
  background-color: var(--vscode-editor-background);
  z-index: 2;
}

table th:nth-child(2) {
  position: sticky;
  left: 0;
  background-color: var(--vscode-editor-background);
  z-index: 2;
  border-right: 2px solid var(--vscode-editorWidget-border);
}

input {
  background-color: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
  font: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  font-size: var(--vscode-font-size);
  width: 40vh;
}
.action-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.search-box{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search-box-inner{
  width: 250px;
}