vscode-single-select {
  width: 100%;
  z-index: 9999;
}

.translations-table td:first-child {
  position: sticky;
  left: 0;
  background-color: color-mix(in srgb, var(--vscode-editor-background) 95%, black);
  z-index: 1;
}

.translations-table td:nth-child(2) {
  position: sticky;
  left: 0;
  background-color: color-mix(in srgb, var(--vscode-editor-background) 95%, black);
  z-index: 1;
  border-right: 2px solid var(--vscode-focusBorder);
}

.translations-table th {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: color-mix(in srgb, var(--vscode-editor-background) 95%, black);
}

.translations-table th:first-child {
  left: 0;
  z-index: 3;
}

.translations-table th:nth-child(2) {
  left: 0;
  z-index: 3;
  border-right: 2px solid var(--vscode-focusBorder);
}

input {
  background-color: var(--vscode-dropdown-background);
  color: var(--vscode-dropdown-foreground);
  font: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  font-size: var(--vscode-font-size);
  width: 40vh;
}

.tool-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.save-button {
  margin-top: 10px;
}

.key-input-field {
  width: 15em;
  --vscode-settings-textInputBackground: color-mix(in srgb, var(--vscode-editor-background) 90%, yellow);
}

.translation-table-container {
  width: 100%;
  height: 60%;
  overflow-x: scroll;
  border: solid black 1px;
}

html, body {
  height: 100%;
} 